 body {
     background-color: rgb(0, 118, 249);
 }
 .container {
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 1000%;
  width: 100%;
 
  z-index: -1; 

} 
/* #root {
    background-color: rgb(0, 118, 249);
} */

/* .btn-primary {
    background-color: salmon;
    
} */

.card-body {
    background-color: salmon;
    border:rgb(60, 64,67) 5px solid;
    box-shadow: whitesmoke;
    
}

.card-subtitle {
    color: rgb(60, 64,67)
} 
h2{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
}
.btn-primary {
    margin: 2px;
}
/* .bron-pic {
    width: 200px;
    display: flex;
    
} */

.imageCard-container {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    margin: 50px;
    /* border: rgb(0, 118, 249) 5px solid; */
}