h2 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}
.card-body3 {
    background-color: rgb(255, 132, 132);
    border-radius: 10px;
    border: 3mm solid rgb(55, 80, 92);
    margin: 5px;
   
}

