.navbar {
    position: sticky;
}
.navbar-light {
    background-color: salmon;
    color: rgb(0, 118, 249)
}
.btn-outline-success {
   color:rgb(0, 118, 249);
   outline: rgb(0,118,249);
   border-radius: 5px rgb(0,118,249);
}
.btn-outline-success:hover {
    background-color: rgb(0, 118, 249);;
}
.nav-link {
    color: rgb(0, 118, 249)
}